@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins&family=Roboto:wght@100&display=swap');
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
}

#start-box,
#information-area,
#question-bank {
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    background-color: rgb(41, 41, 41);
}

.inner-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10% 10%;
    background-color: #680a0a;
    border: 1px solid black;
}

#title-box {
    font-family: 'Libre Baskerville', sans-serif;
    line-height: 50px;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
}

.test-box {
    text-align: center;
    padding: 20px;
}

#test-box-p {
    padding: 18px;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: orange;
}

#test-start-p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.start-area {
    padding: 20px;
}

.start-btn {
    background-color: rgb(24, 23, 23);
    width: 200px;
    height: 70px;
    text-decoration: none;
    border-radius: 15px;
}

#start-btn-btn {
    color: white;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.start-btn:hover {
    background-color: rgb(202, 133, 4);
}

.information-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10% 10%;
    background: #680a0a;
    border: 1px solid black;
}

#information-header {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 35px;
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.information-info {
    color: orange;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}

div ul {
    color: white;
    text-align: center;
    list-style: none;
}

#information-btns {
    padding: 20px;
}

#information-back {
    background-color: rgb(24, 23, 23);
    width: 120px;
    height: 50px;
    text-decoration: none;
    border-radius: 15px;
    margin: 10px 10px;
    margin-right: 50px;
}

#information-back:hover {
    background-color: rgb(202, 133, 4);
}

.btn-back {
    color: white;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

#information-continue {
    background-color: rgb(24, 23, 23);
    width: 120px;
    height: 50px;
    text-decoration: none;
    border-radius: 15px;
    margin: 10px 10px;
}

#information-continue:hover {
    background-color: rgb(202, 133, 4);
}

.btn-continue {
    color: white;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Libre Baskerville', sans-serif;
    border-radius: 10px;
    background: #680a0a;
    border: 1px solid black;
    margin: 10% 10%;
}

.question-style {
    border: 1px solid white;
    height: 35px;
    border-radius: 12px;
    width: 100%;
    text-align: left;
    background-color: rgb(202, 133, 4);
    color: black;
    padding: 0 10px;
}

.question-style:hover {
    background-color: rgb(41, 41, 41);
    color: white;
}

.quiz-header {
    padding: 4rem;
}


#question,
h2 {
    text-align: center;
    margin: 0;
    padding-bottom: 2rem;
}

ul {
    padding: 0;
}

ul li {
    font-size: 2rem;
    margin: 1rem 0;
    padding: 2px;
}


ul li label {
    cursor: pointer;
}

#question-btn-back {
    background-color: black;
    color: white;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    width: 120px;
    height: 50px;
    border-radius: 15px;
    text-decoration: none;
    margin-right: 50px;
}

#question-btn-back:hover {
    background-color: rgb(202, 133, 4);
}

#submit {
    background-color: black;
    color: white;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    width: 120px;
    height: 50px;
    border-radius: 15px;
    text-decoration: none;
}

#submit:hover {
    background-color: rgb(202, 133, 4);
}

#submit-back-btns {
    padding: 30px;
}

.reload {
    background: black;
    color: white;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 2rem;
    padding: 1.3rem;
}

@media only screen and (max-width: 460px) {
    #information-continue {
        margin-left: 30px;
    }
    #question-btn-back {
        margin-left: 5px;
        width: 100px;
        height: 50px;
        font-size: 2rem;
    }
    #submit {
        width: 100px;
        height: 50px;
        font-size: 2rem;
    }


    @media only screen and (max-width: 460px) {
        #information-continue {
            margin-left: 30px;
        }
        #question-btn-back {
            margin-left: 5px;
            width: 100px;
            height: 50px;
            font-size: 2rem;
        }
        #submit {
            width: 100px;
            height: 50px;
            font-size: 2rem;
        }
        @media only screen and (max-width: 400px) {
            #information-continue {
                width: 95px;
                height: 40px;
                margin-left: 8px;
            }
            ul li {
                font-size: 1.5rem;
                margin: 1rem 0;
                padding: 2px;
            }
            #information-back {
                width: 95px;
                height: 40px;
            }
            .btn-back {
                font-size: 1.3rem;
            }
            .btn-continue {
                font-size: 1.3rem;
            }
            #question-btn-back {
                width: 80px;
                height: 40px;
                font-size: 1.2rem;
            }
            #submit {
                width: 80px;
                height: 40px;
                font-size: 1.2rem;
            }
            .style {
                font-size: 10px;
            }
            #question {
                font-size: 20px;
            }

            #information-header {
                font-size: 25px;
            }

            .reload {
                font-size: 1.5rem
            }
        }
    }
}