@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins&family=Roboto:wght@100;400&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../images/NTWICM.jpg');
}

.inner-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10% 5%;
    background-color: #fcff4a;
    border-radius: 10px;
    border: solid 1px #0f0d07;
    opacity: 0.9;
    box-shadow: 10px 10px #61b03f;
}

#title-box {
    font-family: 'Libre Baskerville', sans-serif;
    line-height: 50px;
    font-size: 30px;
    color: #0f0d07;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
}

.test-box {
    text-align: center;
    padding: 20px;
}

#test-box-p {
    padding: 18px;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #4f61d5;
}

#test-start-p {
    color: #e8533c;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.start-area {
    padding: 20px;
}

.start-btn {
    background-color: #61b03f;
    width: 200px;
    height: 70px;
    text-decoration: none;
    border-radius: 15px;
    border: solid 1px #0f0d07;
}

#start-btn-btn {
    color: #0f0d07;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

#start-btn-btn:hover {
    color: white;
}

.start-btn:hover {
    background-color: #4f61d5;
}

.information-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10% 5%;
    background-color: #fcff4a;
    border: 1px solid black;
    border-radius: 10px;
    opacity: 0.9;
    box-shadow: 10px 10px #61b03f;
}

#information-header {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 35px;
    color: #0f0d07;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.information-info {
    color: #5060d4;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}

div ul {
    color: #e8533c;
    text-align: center;
    list-style: none;
}

#information-btns {
    padding: 20px;
}

#information-back {
    background-color: #61b03f;
    width: 120px;
    height: 50px;
    text-decoration: none;
    border-radius: 15px;
    margin: 10px 10px;
    margin-right: 50px;
    border: 1px solid black;
}

#information-back:hover {
    background-color: #4f61d5;
}

.btn-back {
    color: #0f0d07;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.btn-back:hover {
    color: white;
}

#information-continue {
    background-color: #61b03f;
    width: 120px;
    height: 50px;
    text-decoration: none;
    border-radius: 15px;
    margin: 10px 10px;
    border: 1px solid black;
}

#information-continue:hover {
    background-color: #4f61d5;
}

.btn-continue {
    color: #0f0d07;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.btn-continue:hover {
    color: white;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: 'Libre Baskerville', sans-serif;
    border-radius: 10px;
    background-color: #fcff4a;
    border: 1px solid black;
    margin: 5% 5%;
    opacity: 0.9;
    box-shadow: 10px 10px #61b03f;
}

.question-style {
    border: 1px solid black;
    height: 50px;
    border-radius: 12px;
    width: 100%;
    text-align: left;
    background-color: rgb(253, 246, 180);
    color: #0f0d07;
    font-family: roboto;
    font-weight: 400;
    padding: 10px;
    margin: 10px;
}

.question-style:hover {
    background-color: #4f61d5;
}

.quiz-header {
    padding: 4rem;
}


#question,
h2 {
    text-align: center;
    margin: 0;
    padding-bottom: 2rem;
}

ul {
    padding: 0;
}

ul li {
    font-size: 2.2rem;
    margin: 1rem 0;
    padding: 2px;
}

ul li label {
    cursor: pointer;
}

#question-btn-back {
    background-color: #61b03f;
    color: #0f0d07;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    width: 120px;
    height: 50px;
    border-radius: 15px;
    text-decoration: none;
    margin-right: 50px;
    border: 1px solid black;
}

#question-btn-back:hover {
    background-color: #4f61d5;
    color: white;
}

#submit {
    background-color: #61b03f;
    color: #0f0d07;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    width: 120px;
    height: 50px;
    border-radius: 15px;
    text-decoration: none;
    margin: 10px 10px;
    border: 1px solid black;
}

#submit:hover {
    background-color: #4f61d5;
    color: white;
}

#submit-back-btns {
    padding: 40px;
}

.reload {
    background: black;
    color: white;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 2rem;
    padding: 1.3rem;
}

@media only screen and (max-width: 500px) {

    #question-btn-back {
        margin-left: 5px;
        width: 95px;
    }

}

@media only screen and (max-width: 470px) {

    #information-continue {
        width: 95px;
        height: 50px;
        font-size: 1.5rem;
    }

    #information-back {
        width: 95px;
        height: 50px;
        font-size: 1.5rem;
    }

    #question-btn-back {
        margin-left: 2px;
        width: 80px;
        height: 50px;
        font-size: 1.5rem;
    }

    #submit {
        width: 80px;
        height: 50px;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 435px) {

    .start-btn {
        width: 90px;
        height: 45px;
    }

    .start-btn-btn {
        font-size: 1.2rem;
    }

    ul li {
        font-size: 1.5rem;
        margin: 1rem 0;
        padding: 2px;
    }

    .information-info {
        font-size: 2rem;
    }

    .btn-back {
        font-size: 1.3rem;
    }

    .btn-continue {
        font-size: 1.3rem;
    }

    #question-btn-back {
        width: 80px;
        height: 50px;
        font-size: 1.2rem;
    }

    #submit {
        width: 80px;
        height: 50px;
        font-size: 1.2rem;
    }

    .style {
        font-size: 10px;
    }

    #question {
        font-size: 20px;
    }

    #information-header {
        font-size: 25px;
    }

    .reload {
        font-size: 1.5rem
    }
}

@media only screen and (max-width: 400px) {

    #information-continue {
        width: 80px;
        height: 40px;
        font-size: 1.2rem;
    }

    #information-back {
        width: 80px;
        height: 40px;
        font-size: 1.2rem;
    }

    #question-btn-back {
        width: 75px;
        height: 40px;
        font-size: 1.2rem;
    }

    #submit {
        width: 75px;
        height: 40px;
        font-size: 1.2rem;
    }

    .question-style {
        height: 45px;
    }
}

@media only screen and (max-width: 360px) {

    #information-continue {
        width: 70px;
        height: 35px;
        font-size: 1rem;
    }

    #information-back {
        width: 70px;
        height: 35px;
        font-size: 1rem;
    }

    #question-btn-back {
        width: 55px;
        height: 30px;
        font-size: 1rem;
    }

    #submit {
        width: 55px;
        height: 30px;
        font-size: 1rem;
    }

    .question-style {
        height: 30px;
        padding: 2px;
    }
}